* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7ff;
    color: #333;
}

.hero {
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');

   position: relative;
   text-align: center;
   padding: 20px 80px;
    

    
}
.herocnt{
   height: 237;
   width: 905;
  padding: 200px 80px;

}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4e4eff;
}

.btn {
    background: #4e4eff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.preview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.preview-text {
    max-width: 400px;
}
.preview-img{
    border-radius: 48px;

    
}

.productive-user-section {
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding: 50px 150px;
    margin: 0px 100px;
    border-radius: 24px;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-section-items {
    display: flex;
    justify-content: space-around;
  
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-section-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin: 0px;
}
.user-section-item{
    display: block;
    unicode-bidi: isolate;
}
.bold-part {
    color: #4E47FF;

}



