* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7ff;
    color: #333;
}

.hero {
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');

   position: relative;
   text-align: center;
   padding: 20px 80px;
    

    
}
.herocnt{
   height: 237;
   width: 905;
  padding: 200px 80px;

}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #4e4eff;
}

.btn {
    background: #4e4eff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.preview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
}

.preview-text {
    max-width: 400px;
}
.preview-img{
    border-radius: 48px;

    
}

.productive-user-section {
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    padding: 50px 150px;
    margin: 0px 100px;
    border-radius: 24px;
}
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-section-items {
    display: flex;
    justify-content: space-around;
  
}
.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.user-section-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    margin: 0px;
}
.user-section-item{
    display: block;
    unicode-bidi: isolate;
}
.bold-part {
    color: #4E47FF;

}
.user-feedbacks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 150px;
}
.user-feedback-heading {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}
.user-feedbacks {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 150px;
}
.user-feedback {
    width: 370px;
    padding: 10px;
    background-color: white;
    border-radius: 14px;
}
.font-awesome {
    display: block;
    unicode-bidi: isolate;
}
.user-feedback-title {
    color: rgb(30, 30, 30, 1);
    margin-bottom: 10px;
}
.user-feedback-subtitle {
    color: rgba(30, 30, 30, 1);
    margin-top: 0px;
    font-weight: 400;
}
.avat{
    border-radius: 30px;
}
/* 2nd hero section */
.hero-2 {
    text-align: center;
    padding: 50px 20px;
    background: white;
}
.hero-img-2 {
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}
.hero-hi {
    font-size: 2rem;
    margin-bottom: 10px;
}
.btn-2 {
    display: inline-block;
    padding: 12px 25px;
    background: #4c4cff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 30px;
}





